#login_form_main_container {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index:1000; /* se asigura ca e si in fata meniului */
  transition: opacity 0.5s ease-out;
}

#login_form_box {
  background-color: black;
  width: 50%;
  height: 80%;
  position: absolute;
  left: 25%; /* vreau sa fie la mijloc, deci vreau sa-l offsetez cu 0.5-width/2=0.5-0.25=0.25 (oare sa fac asta din javascript ca sa depinda dinamic de width? asta ar fi util doar daca modific width...) */
  top: 10%; /* la fel si aici: 0.5-0.4=0.1 */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login_form_box .close_cross {
  color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
  font-size: 2em;
  transition: transform 0.2s linear;
}

#login_form_box h1 {
  display: block;
  margin: 30px auto;
}

#login_form_close_container {
  display: inline-block;
  height: 30%;
  width: 70%;
  position: relative;
  text-align: center;
  //background-color: red;
}

#login_form { /* il vad ca un box si il aliniez inline*/
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}



#login_form .form_elem {
  //background: blue;
  margin: 20px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#login_form .form_elem input,
#login_form .form_elem label {
	border: 1px solid #ccc;
	border-radius: 4px;
  margin: 5px;
  float: left;
}

#login_form .form_elem input:focus {
  outline: none;
}

#login_form label {
  padding: 10px;
  width: 40%;
  height: 30px;
}

#login_form input {
  padding: 10px;
  color: black;
  width: 40%;
  height: 30px;
}

#login_form select {
  padding: 10px;
  height: 50px;
  flex: 1;
}

#login_form input[type="submit"] {
  width: 25%;
  display:block;
  border-radius: 4px;
  font-family: tahoma;
  font-weight: bold;
  background: none;
  border: 3px purple solid;
  cursor: pointer;
  font-size: 10pt;
  color: white;
  text-align: center;
  padding: 0 0 0 0;
  margin: 10px auto;
}
